:root {
  --color1: #2B2D42;
  --color2: #8D99AE;
  --color3: #EDF2F4;
  --color4: #EF233C;
  --color5: #D90429;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color1);
  font-family: Oswald, sans-serif;
}

h1, p {
  text-align: center;
}

a {
  text-decoration: none;
}

/* Header CSS */

#header {
  top: 0;
  position: sticky;
  color: var(--color3);
  background-color: var(--color5);
  box-shadow: 0 0 5px white;
  z-index: 999;
}
#navbar ul {
  margin: 0;
  display: flex;
  justify-content: end;
  padding-inline-start: 0;
  list-style-type: none;
}
.nav-link {
  display: block;
  padding: 1rem 0;
  color: var(--color3);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 160px;
}
.nav-link:hover {
  background-color: var(--color4)
}

/* Welcome Section CSS */

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  background-color: var(--color1);
}

#welcome-section h1 {
  margin: 0;
  font-size: 9rem;
  color: var(--color4);
}
#welcome-section p {
  margin: 0 0 60px 0;
  font-size: 2.16rem;
  color: var(--color3);
}

#welcome-section p:before {
  content: "< ";
}

#welcome-section p:after {
  content: " />";
}

/* Projects Section CSS */

#projects {
  background-color: var(--color4);
  min-height: calc(100vh - 1px);

}

#projects h1 {
  margin: 0;
  font-size: 3.5rem;
  padding: 4rem 0;
}

#gallery {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 0 25px 90px;
}

.project-tile {
  border-radius: 10px;
  padding: 9px;
  background-color: var(--color3);
  border: 1px solid var(--color2);
}

.project-tile:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px 1px;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-property: all;
}

.project-tile img {
  width: 360px;
  height: 220px;
  object-fit: cover;
  border-radius: 3px;
  border: 1px solid var(--color2);
}

.project-tile p {
  color: var(--color3);
  background-color: var(--color1);
  padding: 5px;
  margin: 0;
  border-radius: 3px;
}

/* Contact Section CSS */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 10rem;
  min-height: calc(100vh - 60px);
  background-color: var(--color3);
}

#contact h1 {
  padding-top: 4rem;
  margin: 0;
  font-size: 4.5rem;
}

#contact p {
  font-size: 1.5rem;
}

#contact .social-icons {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

#contact a {
  font-size: 2rem;
  color: var(--color1);
}

#contact a:hover {
  color: var(--color4);
  transform: translateY(6px);
}

#contact i {
  margin-right: 0.5rem;
}
/* Footer Section CSS */

#footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 58px;
  border-top: 2px solid var(--color3);
  background-color: var(--color1);
}

#footer p{
  color: var(--color3);
  font-size: 0.9rem;
}

/* Media Query CSS */

@media only screen and (max-width: 1000px) {

  #contact .social-icons {
  max-width: 712px;
  }
}

@media only screen and (max-width: 820px) {

  #projects h1 {
  font-size: 7vw;
  }
}

@media only screen and (max-width: 720px) {

  .nav-link {
    width: calc(100vw / 3);
  }

  #welcome-section h1 {
    font-size: 20vw;
  }
  #welcome-section p {
    font-size: 4.8vw;
  }

  #projects h1 {
    font-size: 7vw;
  }

  #contact h1 {
  font-size: 7vw;
  }
  #contact p {
  font-size: 3.5vw;
  }


}

@media only screen and (max-width: 520px) {

  #contact .social-icons {
  flex-direction: column;
  }

  #contact a {
  font-size: 5vw;
  }
}

@media only screen and (max-width: 420px) {

  .project-tile img {
  width: 85.8vw;
  height: 52vw;
  }
}
